---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import "motion";
---

<MainLayout title="Titel">
  <section id="hero_unit" class="md:grid grid-cols-2 p-10 pt-20">
    <div><img src="/src/assets/images/bog_lukket.jpg" alt="" /></div>
    <div class="p-10">
      <h1 class="text-orange-600 text-4xl font-bold font-mono">
        Københavnerbilleder - en guide til hipster foto af Sten Simons
      </h1>
      <p class="pt-10 text-lg font-sans">
        Københavnerbilleder er de danske streetfotografers bibel: Det er en
        fusion mellem et kunstværk og en lærebog. Bogen gennemgår alle
        væsentlige aspekter af streetfotografering fra grundlæggende teknik til
        kreative eksperimenter. Alt sammen krydret med masser af inspirerende
        fotos. God læselyst!
      </p>
      <Button>Køb nu</Button>
    </div>
  </section>

  <section id="facts" class="grid grid-cols-1 place-items-center">
    <div class="py-20">
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">Titel:</p>
        <p class="text-right text-lg font-sans">
          Københavnerbilleder - en guide til hipster foto
        </p>
      </div>
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">Forfatter</p>
        <p class="text-lg font-sans">Sten Simons</p>
      </div>
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">Antal sider</p>
        <p class="text-lg font-sans">344</p>
      </div>
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">Forlag</p>
        <p class="text-lg font-sans">Mellem Linjerne</p>
      </div>
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">ISBN</p>
        <p class="text-lg font-sans">987-6-987654-32-1</p>
      </div>
      <div class="flex">
        <p class="pr-4 text-orange-600 font-bold font-mono">Pris</p>
        <p class="text-lg font-sans">399,-</p>
      </div>
    </div>
  </section>

  <section id="billeder" class="md:grid grid-cols-3 gap-20 p-20 bg-orange-600">
    <img class="py-4" src="/src/assets/images/bog_lukket.jpg" alt="" />
    <img class="py-4" src="/src/assets/images/bog_open.jpg" alt="" />
    <img class="py-4" src="/src/assets/images/bog_oppe.jpg" alt="" />
  </section>

  <section id="kapitlerne" class="p-20">
    <h1 class="text-2xl font-mono grid grid-cols-1 place-items-center pb-20">
      Kapitlerne
    </h1>
    <div class="grid grid-cols-2 gap-10">
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 1 - Intro til street foto
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Hvad er street foto? Det handler i bund og grund om at skyde byens liv
          og byens geometri (urban geometry). I dette kapitel får du en grundig
          intro til hvad street foto er og et overblik over nogen af de kendte
          street-fotografer. Alt krydret med en masse gode eksempler på street
          fotos.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 2 - Om at skyde street
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Vil du skyde street? Så er der ikke nogen vej udenom: Du skal ud på
          gaderne og prøve det! I dette kapitel får du en teknisk indføring i
          hvordan du bedst skyder street. Uanset om du er begynder eller
          professionel, er der mange gode tekniske tips og tricks til
          street-skyderiet.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 3 - Om at finde det rette motiv
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Indimellem er man heldig, andre gange kommer man hjem helt uden gode
          motiver. Med et par tips og tricks til at finde de rette motiver,
          stiger chancen gevaldigt for at fange de gode motiver.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 4 - Digital street foto
        </h2>
        <p class="text-base font-sans leading-relaxed">
          De fleste af os skyder oftest digitalt fordi det er billigere og
          nemmere. Og nogen teknikker og fremgangsmåder egner sig kun til
          digital street foto. I dette kapitel får du en række tips og tricks
          til digital street-foto.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 5 - Analog street foto
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Analog er sejt fordi det er mere “ægte,” dyrere og mere besværligt end
          digital. Det signalerer entusiasme. Nogle teknikker og fremgangsmåder
          egner sig bedst til analog street foto. I dette kapitel får du en
          række tips og tricks til analog street-foto.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 6 - Om at skyde sort/hvid
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Alle street-fotografer skyder sort/hvid nu og da. Nogen altid.
          Hvorfor? Hvad er der specielt ved sort/hvid fotografering, og hvad
          adskiller sort/hvid fra farvefotografering? Her får du en række tips
          og tricks til sort/hvid fotografering.
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 7 - Kreative teknikker
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Dobbelteksponeringer, ICM (intentional camera moves), smadrede
          objektiver, gamle filmruller og alle mulige andre, spændende kreative
          teknikker kan løfte dine fotografier fra at være kedelige
          dokumentationer af hverdagen til at blive vilde kunststykker. Så dyk
          ned i dette kapitel om eksperimenterende teknikker!
        </p>
      </div>
      <div>
        <h2 class="text-orange-600 font-bold font-mono">
          Kapitel 8 - Kom helt tæt på!
        </h2>
        <p class="text-base font-sans leading-relaxed">
          Street foto handler om at fotografere livet på gaden - men tør du at
          gå helt tæt på fremmede mennesker og knipse løs? Du kan lige så godt
          øve dig, for det er det der vil gøre dig til en bedre street-fotograf…
        </p>
      </div>
    </div>
    <div class="grid place-items-center">
      <Button>Download prøvekapitel</Button>
    </div>
  </section>

  <hr />

  <section id="anmeldelser" class="p-20">
    <h1 class="text-2xl font-mono grid grid-cols-1 place-items-center">
      Pressen
    </h1>
    <div class="md:grid grid-cols-3 place-items-center">
      <div class="py-4">
        <div class="flex inline">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"
            ></path>
          </svg>
        </div>
        <p class="text-base font-sans leading-relaxed">
          Københavnerbilleder er en grundig introduktion til at skyde billeder
          med retro-kant. Hvad enten du er har arbejdet med foto siden
          135-filmen kom på markedet, du kun har skudt digitalt eller er helt
          nybegynder, er der masser af tips og tricks i bogen. <br />- Hanne
          Hovgaard, Berlingeren
        </p>
      </div>
      <div class="py-4">
        <div class="flex inline">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M11.48 3.499a.562.562 0 0 1 1.04 0l2.125 5.111a.563.563 0 0 0 .475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 0 0-.182.557l1.285 5.385a.562.562 0 0 1-.84.61l-4.725-2.885a.562.562 0 0 0-.586 0L6.982 20.54a.562.562 0 0 1-.84-.61l1.285-5.386a.562.562 0 0 0-.182-.557l-4.204-3.602a.562.562 0 0 1 .321-.988l5.518-.442a.563.563 0 0 0 .475-.345L11.48 3.5Z"
            ></path>
          </svg>
        </div>
        <p class="text-base font-sans leading-relaxed">
          Teksten er underholdende, og billederne er sku’ flotte. Hvad mere skal
          man sige om en fotobog? <br />- Kim Kloggaard, Fotojournalen.dk
        </p>
      </div>
      <div>
        <div class="flex inline">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-6 text-orange-600"
          >
            <path
              fill-rule="evenodd"
              d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
              clip-rule="evenodd"></path>
          </svg>
        </div>
        <p class="text-base font-sans leading-relaxed">
          Sten Simons kan det der - og han bliver bedre og bedre. Stens tredje
          fotobog er klart den bedste - her er han for alvor i sit rette
          element, meget bedre end “studiefotografering som begyndere.” Tillykke
          - godt arbejde. <br />- Volmer Hansen, Lukkertiden.dk
        </p>
      </div>
    </div>
  </section>

  <hr />

  <section id="galleri" class="p-20">
    <h2 class="text-2xl font-mono grid grid-cols-1 place-items-center pb-20">
      Galleri
    </h2>
    <div class="grid grid-cols-2 md:grid md:grid-cols-4 size-400 gap-4">
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b1.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b2.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b3.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b4.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b5.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b6.jpeg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b7.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b8.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b9.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b10.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b11.jpg"
        alt=""
      />
      <img
        class="w-[400px] h-[300px] object-fit"
        src="/src/assets/images/b12.jpg"
        alt=""
      />
    </div>
  </section>

  <section
    id="forfatteren"
    class="grid grid-cols-1 place-items-center md:grid md:grid-cols-2 mx-10 md:mx-40"
  >
    <div>
      <h2 class="text-2xl font-mono pb-2 grid grid-cols-1 place-items-center">
        Forfatteren
      </h2>
      <img
        class="w-[300px] h-[450px] object-fit"
        src="/src/assets/images/sten_simons.jpg"
        alt=""
      />
    </div>
    <div>
      <h2 class="text-base font-sans leading-relaxed p-10">
        Sten Simons har en lang foto-karriere bag sig. Det hele startede i
        00’erne, da han gik rundt i Pisserenden for at fotografere ungdommens
        forfald. Det ledte til en række udstillinger, og blev senere til hans
        først fotobog “Ungdomsdruk - pinlige billeder fra nattelivet.” Derefter
        tog karrieren fart: Han blev fotojournalist og dokumenterede en masse
        dagligdagsstof fra Amager på dagbladet “Amagerkaneren.” Sideløbende
        begyndte han at undervise i foto, og har skrevet et utal af bøger,
        herunder bestsellerne Scener fra S-toget, Brun mad - en visuel odysse,
        og lærebogen Fotografering for evnesvage.
      </h2>
    </div>
  </section>

  <section id="koeb_bogen" class="md:mt-20">
    <h2
      class="text-orange-600 font-bold font-mono text-xl pt-6 grid place-items-center"
    >
      Køb Københavnerbilleder nu!
    </h2>
    <form class="grid place-items-center py-10">
      <div class="p-2">
        <label for="antal"></label>
        <input type="number" id="antal" placeholder="1" />
      </div>

      <div class="p-2">
        <span></span>
        <input type="radio" id="postnord" name="levering" />
        <label for="postnord">Postnord</label>
        <input type="radio" id="afhent" name="levering" />
        <label for="afhent">Afhent selv</label>
      </div>

      <div class="p-2">
        <label for="name"></label>
        <input type="text" id="name" placeholder="Navn" />
      </div>

      <div class="p-2">
        <label for="name"></label>
        <input type="text" id="name" placeholder="Adresse" />
      </div>

      <div class="p-2">
        <label for="name"></label>
        <input type="text" id="name" placeholder="Email" />
      </div>

      <div class="p-2">
        <label for="antal"></label>
        <input type="number" id="antal" placeholder="Postnummer" />
        <label for="name"></label>
        <input type="text" id="name" placeholder="By" />
      </div>

      <div class="p-2">
        <label for="antal"></label>
        <input type="number" id="antal" placeholder="Telefon" />
      </div>

      <div class="p-2">
        <input type="checkbox" id="box" />
        <label for="box">Ja tak til nyhedsbreve</label>
      </div>

      <Button>Fortsæt</Button>
    </form>
  </section>

  <!--   <article>
    <h1>Index overskrift</h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link>
    </p>
  </article> -->

  <script>
    import { inView } from "motion";

    // <-- inview kapitlerne -->
    const kapitlerneFadeup = document.querySelector("#facts");

    inView(kapitlerneFadeup, () => {
      kapitlerneFadeup.classList.add(
        "animate__animated",
        "animate__fadeInUpBig",
        "animate__slow"
      );
    });
  </script>
</MainLayout>
