---

---

<div>
  <button
    class="border-2 rounded-lg hover:border-orange-600 hover:bg-white hover:text-orange-600 text-white shadow-md transition duration-500 bg-orange-600 px-20 py-2 mt-10"
    ><slot /></button
  >
</div>
